---
import "@fontsource-variable/inter";

import { Image } from "astro:assets";

import Navbar from "../components/Navbar.astro";
import Divider from "../components/Divider.astro";
import Button from "../components/Button.astro";
import ContactForm from "../components/ContactForm.astro";

import HeroIllustration from "../assets/hero-illustration.svg";
import RobotWithModules from "../assets/robot-with-modules.svg";
import LearningGroup from "../assets/learning-group-books.svg";
import Builders from "../assets/builders.svg";
import Metrics from "../assets/Metrics.svg";
import PlaneGuys from "../assets/plane_guys.svg";
import AltusForgeLogo from "../assets/AF Logo.svg";

import type { Content } from "../contents/types/home.ts";
import defaultContent from "../contents/en/home.ts";

interface Props {
  content: Content;
}
const { content = defaultContent } = Astro.props;

const moduleIllustrations = await Astro.glob("../assets/modules/*.svg");
const desktopScreenshots = await Astro.glob("../assets/screenshots/*.svg");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{content.title}</title>
  </head>
  <body class="bg-background text-white">
    <Navbar />
    <main class="pt-10 lg:mt-40">
      <div class="px-14 pb-10">
        <div class="mx-auto max-w-7xl">
          <section class="lg:flex lg:items-center">
            <div>
              <h1 class="text-5xl font-semibold leading-tight lg:text-8xl">
                {content.hero.title}
              </h1>
              <Divider class="mt-6 lg:mt-8" />
              <h2 class="mt-4 text-xl lg:mt-8 lg:text-6xl">
                {content.hero.subtitle}
              </h2>
              <p class="mt-3 text-sm lg:text-4xl">{content.hero.subtitle}</p>
              <div class="mt-12 hidden lg:block">
                <Button text="Request a demo" href="#" />
              </div>
            </div>
            <Image
              src={HeroIllustration}
              alt="Illustration of people using the Elever app"
              class="mt-3 max-h-[48rem] w-full"
            />
            <div class="mt-10 lg:hidden">
              <Button text="Request a demo" href="#" />
            </div>
          </section>
          <section class="mt-10">
            <h2 class="text-center text-xs lg:text-2xl">
              {content.valueProposition.title}
            </h2>
            <div
              class="lg:grid lg:grid-cols-2 lg:items-center lg:gap-x-16 lg:gap-y-72"
            >
              {
                content.valueProposition.sections.map((section, i) => (
                  <>
                    <Image
                      class="mt-8 w-full"
                      src={i === 0 ? RobotWithModules : LearningGroup}
                      alt="Illustration of people adding puzzle pieces on a phone screen"
                    />
                    <div>
                      <h3 class="mt-10 text-xl lg:text-4xl">{section.title}</h3>
                      <Divider class="mt-4 lg:my-12" />
                      <div class="text-sm leading-relaxed lg:text-lg">
                        {section.description.map((paragraph) => (
                          <p class="mt-4">{paragraph}</p>
                        ))}
                      </div>
                    </div>
                  </>
                ))
              }
            </div>
          </section>
          <section class="mt-12">
            <h2 class="text-center text-xs lg:text-2xl">
              {content.modules.title}
            </h2>
            <div
              class="mx-auto mt-4 max-w-prose text-sm leading-relaxed lg:text-lg"
            >
              {
                content.modules.description.map((paragraph) => (
                  <p class="mt-4">{paragraph}</p>
                ))
              }
            </div>
            <Divider
              class="mx-auto hidden max-w-prose lg:mb-12 lg:mt-24 lg:flex"
            />
            <h3 class="text-center text-5xl text-purple-light lg:text-8xl">
              {content.modules.subtitle}
            </h3>
            <div
              class="mt-12 grid grid-cols-2 gap-x-3 gap-y-2 lg:mt-24 lg:grid-cols-4 lg:gap-x-8"
            >
              {
                moduleIllustrations.map((module) => (
                  <Image
                    class="w-full even:mt-16"
                    src={module.default}
                    alt="Elever screenshot"
                  />
                ))
              }
            </div>
            <div class="mx-auto mt-10 w-fit lg:mt-16">
              <Button text="Get more information" href="#" />
            </div>
          </section>
          <section class="pt-12 lg:mt-20">
            <h2 class="text-center text-sm lg:text-2xl">{content.cms.title}</h2>
            <div class="lg:grid lg:grid-cols-2 lg:items-center lg:gap-x-12">
              <div>
                <h3 class="mt-8 text-xl lg:text-4xl">
                  {content.cms.sections[0].title}
                </h3>
                <Divider class="mt-4 lg:mb-12 lg:mt-8" />
                <div class="text-xs leading-relaxed lg:text-lg">
                  {
                    content.cms.sections[0].description.map((paragraph) => (
                      <p class="mt-4">{paragraph}</p>
                    ))
                  }
                </div>
              </div>
              <Image
                class="mt-14 w-full"
                src={Builders}
                alt="Illustration of our team building your custom soution."
              />
              {
                desktopScreenshots.map((screenshot) => (
                  <Image
                    class="mt-10 w-full lg:mt-0 lg:even:mt-40"
                    src={screenshot.default}
                    alt="Elever screenshot"
                  />
                ))
              }
              <div class="lg:col-start-2">
                <h3 class="mt-12 text-xl lg:text-4xl">
                  {content.cms.sections[1].title}
                </h3>
                <Divider class="mt-4 lg:mb-12 lg:mt-8" />
                <div class="text-sm leading-relaxed lg:text-lg">
                  {
                    content.cms.sections[1].description.map((paragraph) => (
                      <p class="mt-4">{paragraph}</p>
                    ))
                  }
                </div>
              </div>
              <Image
                class="mt-14 w-full lg:col-start-1 lg:row-start-3"
                src={Metrics}
                alt="Illustration of engagement and participation metrics."
              />
            </div>
          </section>
        </div>
      </div>
    </main>
    <footer
      class="bg-gradient-to-b from-background to-[#122722] px-14 py-10 lg:py-20"
    >
      <div class="mx-auto max-w-3xl">
        <h2 class="text-center text-xs lg:text-2xl">{content.contact.title}</h2>
        <h3
          class="mt-6 text-center text-5xl font-semibold text-green-neon lg:text-8xl"
        >
          {content.contact.subtitle}
        </h3>
        <div class="mx-auto mt-6 w-24 lg:mt-14 lg:w-40">
          <svg
            viewBox="0 0 95 23"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g opacity="0.5">
              <path
                d="M11.6504 22.059C11.6504 22.059 15.3203 11.5825 26.1629 11.4063C37.0055 11.0583 33.1548 17.8648 44.5216 16.8207C55.8885 15.7722 51.6897 3.02692 69.5242 0.233803C87.3586 -2.38757 94.8793 22.059 94.8793 22.059H11.6504Z"
                fill="#05FF00"></path>
            </g>
            <path
              d="M0.121094 11.5588C0.121094 11.5588 1.96058 6.31156 7.38413 6.22569C12.8077 6.04943 10.8823 9.46173 16.568 8.93745C22.2537 8.41318 20.1566 2.02698 29.0783 0.630421C38.0001 -0.680264 41.7649 11.5633 41.7649 11.5633H0.121094V11.5588Z"
              fill="#44AD8D"></path>
          </svg>
        </div>
        <Divider class="mt-6 lg:mb-14 lg:mt-20" />
        <div class="text-sm leading-loose lg:text-lg">
          {
            content.contact.description.map((paragraph) => (
              <p class="mt-4">{paragraph}</p>
            ))
          }
        </div>
        <div class="mt-10 lg:mt-16">
          <ContactForm content={content.contact} />
        </div>
        <Image
          class="mx-auto mt-20 w-full max-w-96 lg:mt-36"
          src={PlaneGuys}
          alt="Illustration of people flying in a paper plane."
        />
      </div>
      <div class="mt-14">
        <span class="text-xl">{content.footer.productBy}</span>
      </div>
      <Image class="mt-5" src={AltusForgeLogo} alt="Altus Forge logo" />
      <address class="mt-16 text-sm leading-relaxed lg:text-lg">
        {
          content.footer.address.map((line) => (
            <>
              {line}
              <br />
            </>
          ))
        }
      </address>
      <div class="mt-3">
        <a class="text-3xl text-cyan" href="https://altusforge.com"
          >altusforge.com</a
        >
      </div>
    </footer>
  </body>
</html>
