---
import "@fontsource-variable/inter";

import { Image } from "astro:assets";

import Button from "../components/Button.astro";
import Divider from "../components/Divider.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

import Builders from "../assets/SVG/im_automation.svg";
import HeroIllustration from "../assets/SVG/im_cover.svg";
import ForgettingCurve from "../assets/SVG/im_forgetting-curve.svg";
import RobotWithModules from "../assets/SVG/im_motivation.svg";
import LearningGroup from "../assets/SVG/im_personaiization.svg";
import Metrics from "../assets/SVG/im_tracking.svg";

import { getRelativeLocaleUrl } from "astro:i18n";
import defaultContent from "../contents/de/home.ts";
import type { Content } from "../contents/types/home.ts";

interface Props {
  lang: "en" | "de";
  content: Content;
}
const {
  content = defaultContent,
  lang = (Astro.currentLocale ?? "de") as "de" | "en",
}: Props = Astro.props;

const moduleIllustrations = await Astro.glob("../assets/modules/*.png");
const desktopScreenshots = await Astro.glob("../assets/screenshots/*.png");
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{content.meta.title}</title>
    <meta name="description" content={content.meta.description} />
    <script is:inline type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Elever",
        "url": "https://elever.ch/"
      }
    </script>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://elever.ch/" />
    <meta property="og:title" content={content.meta.title} />
    <meta property="og:description" content={content.meta.description} />
    <meta property="og:image" content="https://elever.ch/images/poster.png" />
  </head>
  <body class="bg-background text-white">
    <Navbar currentPage="/" lang={lang} />
    <main class="pt-10 lg:mt-40">
      <div class="px-14 pb-10">
        <div class="mx-auto max-w-7xl">
          <section class="lg:flex lg:items-center">
            <div class="flex-1">
              <h1 class="text-5xl font-semibold leading-tight lg:text-8xl">
                {content.hero.title}
              </h1>
              <Divider class="mt-6 lg:mt-8" />
              <h2 class="mt-4 text-xl lg:mt-8 lg:text-6xl">
                {content.hero.subtitle}
              </h2>
              <p class="mt-3 whitespace-pre-line text-sm lg:text-4xl">
                {content.hero.description}
              </p>
              <div class="mt-12 hidden lg:block">
                <Button href="#contact-form">{content.hero.callToAction}</Button
                >
              </div>
            </div>
            <Image
              src={HeroIllustration}
              alt="Illustration of people using the Elever app"
              class="mt-3 max-h-[48rem] w-full flex-1"
            />
            <div class="mt-10 lg:hidden">
              <Button href="#contact-form">{content.hero.callToAction}</Button>
            </div>
          </section>
          <section class="mt-10 lg:mt-28">
            <h2 class="text-center text-xs uppercase lg:text-2xl">
              {content.valueProposition.title}
            </h2>
            <div
              class="lg:grid lg:grid-cols-2 lg:items-center lg:gap-x-16 lg:gap-y-32"
            >
              <Image
                class="mt-8 w-full lg:mt-0"
                src={RobotWithModules}
                alt="Illustration of people adding puzzle pieces on a phone screen"
              />
              <div class="mt-10 lg:mt-0">
                <h3 class="text-xl lg:text-4xl">
                  {content.valueProposition.sections.ourAim.title}
                </h3>
                <Divider class="mt-4 lg:my-12" />
                <div class="text-sm leading-relaxed lg:text-lg">
                  {
                    content.valueProposition.sections.ourAim.description.map(
                      (paragraph) => <p class="mt-4">{paragraph}</p>,
                    )
                  }
                </div>
              </div>
              <div
                class="mt-10 flex flex-col items-center lg:col-span-2 lg:mt-0"
              >
                <h2 class="text-center text-sm lg:text-4xl">
                  {content.valueProposition.forgettingCurveTitle}
                </h2>
                <Image
                  class="mt-3 lg:mt-10"
                  src={ForgettingCurve}
                  alt="Darstellung der Vergessenskurve"
                />
              </div>
              <Image
                class="mt-8 w-full lg:mt-0"
                src={LearningGroup}
                alt="Illustration of people adding puzzle pieces on a phone screen"
              />
              <div class="mt-10 lg:mt-0">
                <h3 class="text-xl lg:text-4xl">
                  {content.valueProposition.sections.personalizedLearning.title}
                </h3>
                <Divider class="mt-4 lg:my-12" />
                <div class="text-sm leading-relaxed lg:text-lg">
                  {
                    content.valueProposition.sections.personalizedLearning.description.map(
                      (paragraph) => <p class="mt-4">{paragraph}</p>,
                    )
                  }
                </div>
              </div>
            </div>
          </section>
          <section class="mt-12 lg:mt-32">
            <h2 class="text-center text-xs uppercase lg:text-2xl">
              {content.modules.title}
            </h2>
            <div
              class="mx-auto mt-4 max-w-prose text-sm leading-relaxed lg:text-lg"
            >
              {
                content.modules.description.map((paragraph) => (
                  <p class="mt-4">{paragraph}</p>
                ))
              }
            </div>
            <Divider class="mx-auto mb-8 mt-12 max-w-prose lg:mb-12 lg:mt-24" />
            <h3 class="text-center text-5xl text-purple-light lg:text-8xl">
              {content.modules.subtitle}
            </h3>
            <div
              class="mt-12 grid grid-cols-2 gap-x-3 gap-y-2 lg:mt-24 lg:grid-cols-4 lg:gap-x-8"
            >
              {
                moduleIllustrations.map((module) => (
                  <Image
                    class="w-full even:mt-16"
                    src={module.default}
                    widths={[296, 592, 760, 900]}
                    sizes="(min-width: 1480px) 296px, (min-width: 1040px) 21vw, calc(50vw - 62px)"
                    alt="Elever screenshot"
                  />
                ))
              }
            </div>
            <div class="mx-auto mt-10 w-fit lg:mt-16">
              <Button href={getRelativeLocaleUrl(lang!, "/modules")}
                >{content.modules.callToAction}</Button
              >
            </div>
          </section>
          <section class="pt-12 lg:mt-20">
            <h2 class="text-center text-sm uppercase lg:text-2xl">
              {content.cms.title}
            </h2>
            <div class="lg:grid lg:grid-cols-2 lg:items-center lg:gap-x-12">
              <div>
                <h3 class="mt-8 text-xl lg:text-4xl">
                  {content.cms.sections[0].title}
                </h3>
                <Divider class="mt-4 lg:mb-12 lg:mt-8" />
                <div class="text-xs leading-relaxed lg:text-lg">
                  {
                    content.cms.sections[0].description.map((paragraph) => (
                      <p class="mt-4">{paragraph}</p>
                    ))
                  }
                </div>
              </div>
              <Image
                class="mt-14 w-full"
                src={Builders}
                alt="Illustration of our team building your custom soution."
              />
              {
                desktopScreenshots.map((screenshot) => (
                  <Image
                    class="mt-10 w-full lg:mt-0 lg:even:mt-40"
                    src={screenshot.default}
                    widths={[256, 616, 900, 1112, 1232, 1450, 1650, 1820]}
                    sizes="(min-width: 1480px) 616px, (min-width: 1040px) 42vw, calc(100vw - 112px)"
                    alt="Elever screenshot"
                  />
                ))
              }
              <div class="lg:col-start-2">
                <h3 class="mt-12 text-xl lg:text-4xl">
                  {content.cms.sections[1].title}
                </h3>
                <Divider class="mt-4 lg:mb-12 lg:mt-8" />
                <div class="text-sm leading-relaxed lg:text-lg">
                  {
                    content.cms.sections[1].description.map((paragraph) => (
                      <p class="mt-4">{paragraph}</p>
                    ))
                  }
                </div>
              </div>
              <Image
                class="mt-14 w-full lg:col-start-1 lg:row-start-3"
                src={Metrics}
                alt="Illustration of engagement and participation metrics."
              />
            </div>
          </section>
        </div>
      </div>
    </main>
    <Footer lang={lang} />

    <script
      is:inline
      src={`https://challenges.cloudflare.com/turnstile/v0/api.js?language=${lang}`}
      async
      defer></script>
  </body>
</html>

<style>
  body:has(.side-menu:checked) {
    overflow: hidden;
    background-color: #0d0d0d;
  }
</style>
