---
import { getRelativeLocaleUrl } from "astro:i18n";
import { Image } from "astro:assets";

import type { Content } from "../contents/types/navbar.ts";

import EleverLogo from "../assets/SVG/im_elever_logo.svg";

interface Props {
  content: Content;
  currentPage: string;
}
const { content, currentPage } = Astro.props;
---

<header class="hidden lg:block">
  <nav
    class="mx-auto flex max-w-[90rem] items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Elever by AltusForge</span>
        <Image class="h-8 w-auto" src={EleverLogo} alt="" />
      </a>
    </div>
    <div class="flex lg:hidden">
      <button
        type="button"
        class="text-gray-700 -m-2.5 inline-flex items-center justify-center rounded-md p-2.5"
      >
        <span class="sr-only">{content.openMenu}</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a
        href={getRelativeLocaleUrl(Astro.currentLocale!, "/")}
        class="text-gray-900 border-b-2 text-sm leading-8"
        class:list={[
          currentPage === "/" ? "border-green-bright" : "border-transparent",
        ]}
      >
        Elever App
      </a>
      <a
        href={getRelativeLocaleUrl(Astro.currentLocale!, "/modules")}
        class="text-gray-900 border-b-2 text-sm leading-8"
        class:list={[
          currentPage === "/modules"
            ? "border-green-bright"
            : "border-transparent",
        ]}>{content.modules}</a
      >
      <a
        href={getRelativeLocaleUrl(Astro.currentLocale!, "/use-cases")}
        class="text-gray-900 border-b-2 text-sm leading-8"
        class:list={[
          currentPage === "/use-cases"
            ? "border-green-bright"
            : "border-transparent",
        ]}>{content.usecases}</a
      >
      <a
        href="https://app.elever.ch"
        class="text-gray-900 border-b-2 border-transparent text-sm leading-8"
        >{content.login}</a
      >
      <div
        class="text-gray-900 inline-flex items-center justify-center gap-x-1.5 text-sm leading-8"
      >
        <a
          class:list={{
            "font-bold underline":
              Astro.currentLocale == "de" || Astro.currentLocale == undefined,
          }}
          href={getRelativeLocaleUrl("de", currentPage)}>DE</a
        > / <a
          class:list={{
            "font-bold underline": Astro.currentLocale == "en",
          }}
          href={getRelativeLocaleUrl("en", currentPage)}>EN</a
        >
      </div>
    </div>
  </nav>
</header>
